body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connected {
    position: absolute;
    left: 5px;
    top: 5px;
}
a {
    margin: 10px;
}
footer {
    margin-top: 20px;
}