@charset "UTF-8";
@import "../css/landing.css";
/* CHARTRE GRAPHIQUE */
#video {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  z-index: -100;
  background-size: cover;
  transition: 0s opacity;
}

/* CSS DES BOUTONS */
#bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border-color: #CBB260;
  background-color: #061011;
  color: #CBB260;
  width: 200px;
}

#section1 {
  background-color: #6B103C;
  background-image: url("../photos/bg_portée.svg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 * {
  padding-top: 20px;
}

.icones {
  width: 150px;
  overflow: hidden;
}

h4 {
  text-align: center;
}

.mockup {
  background-image: url("../photos/Notes de musique.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

p {
  width: 500px;
  overflow: hidden;
}

#carte {
  border-radius: 15px;
  border-color: #CBB260;
  color: #6B103C;
}

#photo {
  border-radius: 25%;
}